@font-face {
    font-family: 'loraregular';
    src: url('./fonts/lora-regular-webfont.woff2') format('woff2'),
         url('./fonts/lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
  background-color: dodgerblue !important;

  font-family:  'loraregular', serif !important;
}

$lanzini-gold: #bf9456;

#preloader-wrapper{
  align-items:center;
  background: $lanzini-gold no-repeat;
  display:flex;
  height:100vh;
  justify-content:center;
  position:fixed;
  width:100%;
  z-index:100;
}
#preloader{
  animation:scales 2s ease-in-out infinite;
  z-index:101
}
@keyframes scales{
  0%{
    opacity: 0.2;
    transform:scale(30%)
  }
  100%{
    opacity: 1;
    transform:scale(60%)
  }
}
#navigation {
  z-index:1;
}
.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
nav {
  display: flex;
  justify-content: space-between;

  ul {
    list-style-type: none;
    display: flex;

    li {
      padding: 0.5rem;

      a {
        text-decoration: none;
        color: #fff;
        font-style: italic;
        font-weight: bold;
        font-size: 1.2rem;
        font-family:  'loraregular', serif !important;

        &:hover {
          color: $lanzini-gold;
        }
      }
    }
  }  
}
.social-icons {
  display: flex;
  flex-direction: row;

  li {
    padding: 0.5rem;

    a {
        text-decoration: none;
        color: #fff;
        font-style: italic;
        font-weight: bold;
        font-size: 1rem;
        font-family:  'loraregular', serif !important;

        &:hover {
          color: $lanzini-gold;
        }
    }
  }
}
ul {list-style-type: none;}

#hero{
  filter:brightness(70%);
  display: block;
  padding:0;
  margin:0;
  object-fit:cover;
}
.gone{
  display:block;
}
.comes {
  display: none;
}
.fb-icon{
  position:relative;
}
.fb-icon:hover {
  background: #3457a1;
}
.fb-icon:hover .gone {
  animation:gone .2s ease-in-out 1 alternate forwards;
  display: none;
}

.fb-icon:hover .comes {
  display: block;
  animation:comes .2s ease-in-out 1 alternate forwards;
}
@keyframes comes{
  0%{
    opacity: 0;
    transform:translateY(24px)
  }
  100%{
    opacity: 1;
    transform:translateY(0)
  }
}
@keyframes gone{
  0%{
    opacity:1;
    transform:translateY(0)
  }
  100%{
    opacity:0;transform:translateY(-12px);
  }
}
.tw-icon{
  position:relative
}
.tw-icon:hover {
  background: #029be7;
}
.tw-icon:hover .gone{
  animation:gone .2s ease-in-out 1 alternate forwards;
  display:none;
}
.tw-icon:hover .comes{
  display: block;
  animation:comes .2s ease-in-out 1 alternate forwards;
}
.ins-icon{
  position:relative;
}
.ins-icon:hover {
  background: #bf0078;
}
.ins-icon:hover .gone{
  animation:gone .2s ease-in-out 1 alternate forwards;
  display:none;
}
.ins-icon:hover .comes{
  display: block;
  animation:comes .2s ease-in-out 1 alternate forwards;
}
.yt-icon{
  position:relative
}
.yt-icon:hover{
  background:#f20000;
}
.yt-icon:hover .gone{
  animation:gone .2s ease-in-out 1 alternate forwards;
  display:none;
}
.yt-icon:hover .comes{
  display: block;
  animation:comes .2s ease-in-out 1 alternate forwards;
}
.gp-icon {
  position:relative;
}
.gp-icon:hover {
  background: #d85346;
}
.gp-icon:hover .gone {
  animation: gone .2s ease-in-out 1 alternate forwards;
  display: none;
}
.gp-icon:hover .comes {
  display: block;
  animation: comes .2s ease-in-out 1 alternate forwards;
}
.pin-icon {
  position:relative;
}
.pin-icon:hover {
  background: #c8232c;
}
.pin-icon:hover .gone {
  animation: gone .2s ease-in-out 1 alternate forwards;
  display: none;
}
.pin-icon:hover .comes {
  display: block;
  animation: comes .2s ease-in-out 1 alternate forwards;
}
.vimeo-icon {
  position:relative;
}
.vimeo-icon:hover {
  background: #86c9ef;
}
.vimeo-icon:hover .gone {
  animation: gone .2s ease-in-out 1 alternate forwards;
  display: none;
}
.vimeo-icon:hover .comes {
  display: block;
  animation: comes .2s ease-in-out 1 alternate forwards;
}
.pages:hover{
  color: $lanzini-gold !important;
  transition:all .2s ease-in
}

#nav1,#nav2{
  position:relative!important
}
// press start
.expand-1 {
  background-image: url(./imgs/0001.jpg);
}
.expand-2 {
  background-image: url(./imgs/2.jpg);
}
.expand-3 {
  background-image: url(./imgs/3.jpg);
}
.expand-4 {
  background-image: url(./imgs/4.jpg);
}
.expand-5 {
  background-image: url(./imgs/5.jpg);
}

.block-expand .expand {
  position:relative;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  margin: 10px 0;
  min-height: 60px;
  cursor: pointer;
}

@media (min-width:992px) {
  .block-expand .expand {
    height: 50vh;
    flex: 1;
    margin: 0 10px;
    transition: flex 1s ease;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0 , 0);
  }
  .block-expand:not(.on-click) .expand:hover,
  .block-expand.on-click .expand.active { flex: 10; }
}
// press end

.link-dec-none {
  list-style: none;
  
}