body{
  background-color: dodgerblue !important;
}

$lanzini-gold: #bf9456;

#preloader-wrapper{
  align-items:center;
  background: $lanzini-gold no-repeat;
  display:flex;
  height:100vh;
  justify-content:center;
  position:fixed;
  width:100%;
  z-index:100;
}
#preloader{
  animation:scales 2s ease-in-out infinite;
  z-index:101
}
@keyframes scales{
  0%{
    transform:scale(10%)
  }
  100%{
    transform:scale(60%)
  }
}
#navigation {
  position:absolute;
  top:0;
  left:0;
}
#hero{
  filter:brightness(70%);
  display: block;
  padding:0;
  margin:0;
  object-fit:cover;
}
.gone{
  display:block;
}
.comes {
  display: none;
}
.fb-icon{
  position:relative;
}
.fb-icon:hover {
  background: #3457a1;
}
.fb-icon:hover .gone {
  animation:gone .2s ease-in-out 1 alternate forwards;
  display: none;
}

.fb-icon:hover .comes {
  display: block;
  animation:comes .2s ease-in-out 1 alternate forwards;
}
@keyframes comes{
  0%{
    opacity: 0;
    transform:translateY(24px)
  }
  100%{
    opacity: 1;
    transform:translateY(0)
  }
}
@keyframes gone{
  0%{
    opacity:1;
    transform:translateY(0)
  }
  100%{
    opacity:0;transform:translateY(-12px);
  }
}
.tw-icon{
  position:relative
}
.tw-icon:hover {
  background: #029be7;
}
.tw-icon:hover .gone{
  animation:gone .2s ease-in-out 1 alternate forwards;
  display:none;
}
.tw-icon:hover .comes{
  display: block;
  animation:comes .2s ease-in-out 1 alternate forwards;
}
.ins-icon{
  position:relative;
}
.ins-icon:hover {
  background: #bf0078;
}
.ins-icon:hover .gone{
  animation:gone .2s ease-in-out 1 alternate forwards;
  display:none;
}
.ins-icon:hover .comes{
  display: block;
  animation:comes .2s ease-in-out 1 alternate forwards;
}
.yt-icon{
  position:relative
}
.yt-icon:hover{
  background:#f20000;
}
.yt-icon:hover .gone{
  animation:gone .2s ease-in-out 1 alternate forwards;
  display:none;
}
.yt-icon:hover .comes{
  display: block;
  animation:comes .2s ease-in-out 1 alternate forwards;
}
.pages:hover{
  color: $lanzini-gold !important;
  transition:all .2s ease-in
}

#nav1{
  z-index:1
}
#nav1,#nav2{
  position:relative!important
}
#nav2{
  z-index:2
}